.flex-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

@keyframes grow {
    from {
        flex-grow: 0;
    }
    to {
        flex-grow: 1;
    }
}

@keyframes shrink {
    from {
        flex-grow: 1;
    }
    to {
        flex-grow: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hidden {
    animation-name: fadeOut;
    animation-duration: 500ms;
    opacity: 0;
    overflow: hidden;
    display: none;
}

.grow {
    animation: grow ease-in-out;
    animation-duration: 500ms;
    flex-grow: 1;
}

.shrink {
    animation-name: shrink;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    flex-grow: 0;
}

.flex-container {
    height: 85vh;
}