.SignUpPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.SignUpPage form {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin-top: -300px;
}

.SignUpPage label {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    align-self: center; /* Mittige Ausrichtung der Labels */
}

.SignUpPage form > * {
    margin-bottom: 10px; /* Abstand zwischen den Elementen */
}
