.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Setzen Sie die Höhe des Elternelements auf die volle Bildschirmhöhe, um das Element vertikal zentriert zu halten */
}

.LoginPage form {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px; /* Begrenzen Sie die maximale Breite des Formulars */
    margin-top: -300px; /* Abstand zum oberen Rand */
}

.LoginPage label {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    align-self: center; /* Mittige Ausrichtung der Labels */
}

.LoginPage form > * {
    margin-bottom: 10px; /* Abstand zwischen den Elementen */
}
