.FormView {
    align-self: center;
}

.FormView form {
    margin: 4rem;
    width: 50%;
    color: #5d5858;
    background-color: #ccdcb2;
    padding: 2.5rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.form-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-element input, .form-element select {
    width: 50%;
    min-width: 150px;
    background-color: #ffffff;
    color: #110101;
    border-radius: 4px;
    border: none;
    padding: 0.5rem
}

.form-element select {
    width: calc(50% + 15px);
    min-width: 165px;
}

.FormView form button {
    align-self: flex-end;
    border: none;
    color: #110101;
    background-color: #ffffff;
    padding: 0.5rem;
}

.FormView form button:hover {
    background-color: #7ca674;
}